*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  /* background-image: url("../images/11731.jpeg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat; */
}


body {
  scroll-behavior: smooth;
  background-image: url("../images/11731.jpeg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 450ms all;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  isolation: isolate;
}

body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  left: 0;
  bottom: 0;
  inset: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.9) 100%);
  opacity: .879;
  width: 100%;
  height: 100%;
  z-index: -1;
} 



/* #randomBg{
  background: url(../image/6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: 2s;
}  */

@font-face{
  font-family: "DS-Digital";
  src: url("../fonts/ds_digital/DS-DIGIT.TTF") format('truetype');
}

@font-face {
  font-family: "old_london";
  src: url("../Fonts/old_london/OldLondon.ttf") format('truetype');
}

@font-face {
  font-family: "rainy";
  src: url("../fonts/rainyhearts/rainyhearts.ttf") format('truetype');
}

@font-face{
  font-family: "DS-Digital";
  src: url("../fonts/ds_digital/DS-DIGIT.TTF") format('truetype');
}

@font-face {
  font-family: "american";
  src: url("../fonts/American/American-Text.ttf") format('truetype');
}
@font-face {
  font-family: "matrix";
  src: url("../fonts/matrix.ttf") format('truetype');
}
@font-face {
  font-family: "euro";
  src: url("../fonts/eurocorp/Eurocorp.ttf") format('truetype');
}
@font-face {
  font-family: "old";
  src: url("../fonts/Olde_Stencil/Olde_Stencil.ttf") format('truetype');
}
@font-face {
  font-family: "ech";
  src: url("../fonts/Uechi_Gothic/Uechi_Gothic.ttf") format('truetype');
}
@font-face {
  font-family: "rough";
  src: url("../fonts/Rough.otf") format('truetype');
}

.cont {
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

header{
  text-align: center;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.created{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(54, 48, 48, 0.774); 
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px; 
  padding: 5px;
  margin: 0 auto;
}

.created h1{
  font-size: 2rem;
  color: #fff;
  font-family: "rainy";
  /* font-family: 'Love Ya Like A Sister', cursive; */
}

.time-date h3{
  display: flex;
  justify-content: flex-end;
  font-family: "DS-Digital";
  color: #fff;
  font-size: 2.1rem;

}

.time-date h2{
  font-size: 2rem;
  font-family: "rainy";
  color: #fff;
}

.main_container{
	position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 83px;
}

.grid {
  display: grid;
  margin: 0 auto;
  justify-content: center;
  margin: 15px 0 8px 0;
  /* border: 2px solid red; */
}
.grid-btn {
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
}
.grid-btn .btn-sound {
  position: relative;
  display: flex;
  padding: 5px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.grid-btn .btn-sound-off::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  border-top: 2px solid #000;
  transform: translateY(-50%) rotate(45deg);
}
.grid-btn .btn-sound svg {
  fill: #000;
}

.title::first-letter {
  font-family: "old";
  font-size: 6rem;
  vertical-align: middle;
}

.grid .title{
  text-align: center;
  font-size: 2.8rem;
  font-family: "euro";
  text-transform: lowercase;
  font-weight: lighter;
  /* font-family: "american"; */
}

.grid .title span:nth-child(1) {
  /* color: #fd6156; */
  color: rgba(221, 66, 46, 0.5);;
}
.grid .title span:nth-child(2) {
  /* color: #05eff7;; */
  color: rgba(106, 201, 238, 0.5);;
}
.grid .title span:nth-child(3) {
  /* color: #ce8737;; */
  color: rgba(206, 136, 55, 0.5);;
}
.grid .title span:nth-child(4) {
  /* color: #0daa0d; */
  color: rgba(13, 170, 13, 0.5);;
}

.icon {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  border: none;
  border: transparent;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 0px 25px 3px rgba(207, 175, 191, 0.8);
  animation: pulsate 2s linear infinite;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  animation-delay: 0s;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: steps;
  background-color:rgba(255, 255, 255, 0.647);

}
.icon.info {
  border-color: #46b8da;
}
#about.active {
  /* display: none; */
  /* background-color: transparent; */
  animation-play-state: paused;
}
.icon.active {
  /* display: none; */
  animation-play-state: paused;
}

.icon.info::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 4px;
  height: 13px;
  left: 50%;
  border-radius: 2px;
  margin-left: -2px;
  background-color: #5bc0de;
}

.icon.info::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin-left: -2px;
  top: 7px;
  background-color: #5bc0de;
  /* border-bottom: 2px; */
}

@keyframes pulsate1 {
  0% {
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    transform: scale(1);
    opacity: 0.975;
    box-shadow: none;
  }
}

.modal_about {
  width: 100%;
  height: 100%;
  z-index: 100;
  /* box-shadow: 0 0 11px rgba(0, 0, 0, 0.2); */
  pointer-events: none;
  opacity: 0;
  transform: scale(0);
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal_about.active{
  opacity: 1;
  pointer-events: auto;
  transition: .4s ease;
}
.modal_about .modal_box {
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);
  transform: scale(0);
  padding: 1.2rem;
  width: 365px;
  /* max-width: 330px; */
  height: 240px;
  background-color: #ffffff;
  border-radius: 13px;
}

.modal_about.active .modal_box {
  transform: scale(1);
  transition: .4s ease;
  transition-delay: .25s;
}

.modal_box .modal_image #modal_background{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 100%; 
  opacity: 0.5;
  display: none;
  transition: .4s ease;
}

.modal_box::after{
  content: '';
  position: fixed;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  top: 0;
  left: 0;
  left: 0;
  bottom: 0;

  z-index: -1;
  inset: 0;
  /* background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.3) 100%);
  opacity: 0.975;
  width: 100%;
  height: 100%; */
  border-radius: 13px;

}

.modal_content {
  z-index: 20;
  opacity: 20;
  inset: 0;
  position: relative;

}
.modal_content::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  left: 0;
  bottom: 0;
  inset: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.225) 100%);
  border-radius: 13px;
  z-index: -1;
  
}
/* .modal_content h1::first-letter {
  font-size: 7.8rem;
  font-weight: 100;
  font-family: "american";
  vertical-align: middle;
}
.modal_content h1 {
  margin-top: 2rem;
  text-align: center;
  font-size: xx-large;
  font-family: "euro";  
  letter-spacing: 5px;
}

.modal_content p {
  font-size: 2rem; 
  font-family: "euro";  
  font-weight: 100;
} */


.close_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  border: #000;
  border-radius: 50%;
  opacity: 0.3;
  cursor: pointer;
  z-index: 20;
}
.close_btn:hover{
  opacity: 1;
}
.close_btn::before, .close_btn::after{
  position: absolute;
  content: '';
  height: 13px;
  width: 1.2px;
  border-radius: 15px;
  background-color: #333;
}
.close_btn::before{
  transform: rotate(45deg);
}
.close_btn::after{
  transform: rotate(-45deg);
}


.header_top{
  padding-left: 1.4rem;
  padding-right: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.level {
  text-align: center;
  z-index: 1;
}

/* .level h2{
  font-size: 1.3rem;
} */

.level p{
  font-size: 1.4rem;
  font-weight: bold;
  position: relative;
  bottom: 8px;
}

.gameboard {
  height: 300px;
  width: 300px;
  min-width: 280px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
}

.pallet {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 50%;
}
.circle {
  height: 300px;
  width: 300px;
  min-width: 280px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  animation: rotatePallet 40s linear infinite forwards;
  -webkit-box-shadow: 10px 10px 300px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 300px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 300px 0px rgba(0,0,0,0.75);
}

.circle10 {
  width: 170px;
  height:170px;
  background: #dd422e;
  border-radius: 0rem 17rem 0rem 0;
}
.circle11 {
  width: 170px;
  height: 170px;
  background: #0daa0d;
  border-radius: 0 0 17rem 0rem;
}

.circle12 {
  width: 170px;
  height: 170px;
  background: #6ac9ee;
  border-radius: 17rem 0 0 0rem;
}
.circle13 {
  width: 170px;
  height: 170px;
  background: #ce8737;
  border-radius: 0rem 0 0 17rem;
}
/* 
.btn_play_play {
  border-radius: 50%;
  width: 92px;
  height: 92px;
  border: none;
  font-size: 2.3rem;
  position: absolute;
  cursor: pointer;
} */

@keyframes gameboard {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg)
  }
}

.color {
  width: 50%;
  height: 50%;
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: left;
}

.blue {
  /* background: #6ac9ee; */
  background: rgba(106, 201, 238, 0.5);
}

/* .sky.light {
  background: #05eff7;
} */

.sky.light {
  background-image: url("../images/blue.png");
  background-size: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  isolation: isolate;
  position: relative;

}

.sky.light::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  left: 0;
  bottom: 0;
  inset: 0;
  background: linear-gradient(to top, rgba(106, 201, 238, 0.5) 0%, rgba(106, 201, 238, 0.5) 100%);
  opacity: .879;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.violet {
    /* background: #dd422e; */
  background: rgba(221, 66, 46, 0.5);
}


/* .violet.light {
  background: #fd6156;
} */

.violet.light {
  background-image: url("../images/redd.png");
  background-size: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  isolation: isolate;
  position: relative;

}

.violet.light::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  left: 0;
  bottom: 0;
  inset: 0;
  background: linear-gradient(to top, rgba(221, 66, 46, 0.5) 0%, rgba(221, 66, 46, 0.5) 100%);
  opacity: .879;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.orange {
  /* background: #ce8737; */
  background: rgba(206, 136, 55, 0.5);

}

/* .orange.light {
  background: #f0a045;
} */

.orange.light {
  background-image: url("../images/orange.png");
  background-size: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  isolation: isolate;
  position: relative;

}

.orange.light::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  left: 0;
  bottom: 0;
  inset: 0;
  background: linear-gradient(to top, rgba(206, 136, 55, 0.5) 0%, rgba(206, 136, 55, 0.5) 100%);
  opacity: .879;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.green {
  /* background: #0daa0d; */
  background: rgba(13, 170, 13, 0.5);

}

/* .green.light {
  background: #65d44f;
} */

.green.light {
  background-image: url("../images/green.png");
  background-size: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  isolation: isolate;
  position: relative;

}

.green.light::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  left: 0;
  bottom: 0;
  inset: 0;
  background: linear-gradient(to top, rgba(13, 170, 13, 0.5) 0%, rgba(13, 170, 13, 0.5) 100%);
  opacity: .879;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.light.hide-bg, .light.hide-bg, .light.hide-bg, .light.hide-bg {
  background-image: none;
}

.hide{
  display: none;
}

.btn_play {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 2.5rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: transparent;
  outline: none;
  cursor: pointer;
  background: radial-gradient( rgba(188, 130, 159, 0.8) 60%, rgba(255, 255, 255, 1) 62%);
  box-shadow: 0px 0px 25px 3px rgba(207, 175, 191, 0.8);

}

.btn_play::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  transform-origin: center center;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.btn_play:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  animation-delay: 0s;
  animation: pulsate 2s;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, .5);
  top: -34%;
  left: -34%;
  background: rgba(198, 16, 0, 0);
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;

  }
}

.show_modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.86);
  z-index: 200;
  pointer-events: none;
  opacity: 0;
  transform: scale(0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  perspective: 375px;
  /* position: relative; */

  /* width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.86); 
  z-index: 200;
  pointer-events: none;
  opacity: 0;
  transform: scale(0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  perspective: 375px;
  position: relative; */
}

.show_modal .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: all 0.3s ease;
  transform-style: preserve-3d;
  transform: rotateY(8deg);
  transition: 0.3s ease-in-out;
  /* border: 1px solid red; */
}
.show_modal .wrapper {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: all 0.3s ease;
  transform-style: preserve-3d;
  transform: rotateY(8deg);
  transition: 0.3s ease-in-out;
  /* border: 1px solid yellow; */

}

.show_modal.active{
  opacity: 1;
  pointer-events: auto;
  transition: .4s ease;
}

.show_modal .modal_container {
  width: 330px;
  height: 290px;
  /* position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  */
  transition: transform 1s;
  border-radius: 20px;
  perspective: 375px;
  transform: scale(0);
}

.show_modal.active .modal_container {
  transform: scale(1);
  transition: .4s ease;
  transition-delay: .25s;
}



.modal_body {
  text-align: center;
  z-index: 20;
  height: 100%;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, .9799);
  isolation: isolate;
  border-radius: 8px;
  box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.45), 0px 0px 25px 10px rgba(255, 255, 255, 0.35);
  transition: all 0.3s ease;
  transform-style: preserve-3d;
  transform: rotateY(8deg);
}

.modal_body .title_modal {
  margin-top: 20px;
}

.modal_body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  inset: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 100%);
  opacity: .979;
  border-radius: 8px;
  transition: .4s ease;
}

.footer_modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
}
.modal_body a {
  text-decoration: none;
  font-size: 1.3rem;
  margin-left: 6px;
  color: #9aa0a6; 
  font-family: 'poppins';
  color: #515253;
}

.modal_body .header_top div:nth-child(2) {
  transform-style: preserve-3d;
  transform: rotateY(8deg);
  /* transition: 0.3s ease-in-out; */
  /* border: 0.5px solid white; */
}

.close_modal{
  position: absolute;
  top: 16px;
  right: 16px;
  color: #9aa0a6;
  background-color: rgba(112, 117, 126, 0.25);
  outline: none;
  width: 24px;
  height: 24px;
  padding: 2px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 100;
  transform-style: preserve-3d;
  transform: rotateY(8deg);
  transition: 0.3s ease-in-out;
}

.header_top {
  /* transform-style: preserve-3d; */
  perspective: 100px;
  /* border: 1px solid green; */

}
.header_top div:nth-child(1) {
  transform-style: preserve-3d;
  transform: rotateY(8deg);
  transition: 0.3s ease-in-out;
  /* border: 0.5px solid white; */
}
.header_top div:nth-child(2) {
  transform-style: preserve-3d;
  transform: rotateY(-8deg);
  transition: 0.3s ease-in-out;
  /* border: 0.5px solid white; */
}

 .header_top h2::first-letter {
  /* font-family: "rough"; */
  font-family: "american";
  /* font-family: "old"; */
  /* font-size: 3.6rem; */
  /* font-size: 3rem; */
  font-size: 2.8rem;
  color: #515253;
  font-weight: 100;
  position: relative;
}

.header_top div:nth-child(2) h2::first-letter{
  font-family: 'euro';
  font-weight: 100;
  font-size: 3rem;
}

.modal_body .header_top div:nth-child(2) h2::first-letter{
  /* font-family: 'rough'; */
  font-family: 'american';
  font-weight: 100;
  font-size: 3rem;
  margin-right: 3px;
}


.header_top div:nth-child(1) span{
  position: relative;
  bottom: 0.3rem;
  margin-left: 3px;

}
.header_top div:nth-child(2) h2{
  position: relative;
  top: 0.3rem;
  right: 1.5rem;
}
.header_top div:nth-child(2) span{
  position: relative;
  bottom: 0.3rem;
}

.header_top div:nth-child(2) span::after{
  bottom: -1px;
  content: 's';
  position: absolute;
  top: 7px;
  right: -17px;
  transform: translate(-100%, 1);
  font-family: "rough";
  font-size: 2.6rem;
  color: #515253;
  text-transform: uppercase;
  font-weight: 100;
  border-bottom: 1px solid #626364;
}

.modal_body .header_top div:nth-child(2) span::after{
  font-family: "euro";
  content: 's';
  position: absolute;
  top: 7px;
  right: -18px;
  transform: translate(-100%, 1);
  font-size: 2.4rem;
}

.header_top span{
  font-family: "euro";
  /* font-size: 3.6rem; */
  font-size: 3rem;
  /* font-weight: lighter; */
  letter-spacing: 1.2px;
  vertical-align: top;
  border-bottom: 1px solid #626364;
  color: #49494a;
  font-weight: 100;
  /* margin-left: 3px; */
}

.header_top p{
  font-family: "rainy";
  font-size: 3.8rem;
  font-weight: lighter;
  color: #48494a;
  margin-top: 1rem;
}


.modal_body h1::first-letter {
  font-family: "american";
  font-size: 6rem;
  text-transform: uppercase;
}
.modal_body h1 {
  font-family: "american";
  font-size: 3.2rem;
  font-family: "euro";
  text-transform: lowercase;
  word-wrap: break-word;
  font-weight: lighter;
  position: relative;
  bottom: 1.5rem;
  z-index: 20;
  letter-spacing: 1.2px;
  color: #49494a;
  line-height: 0.85;
}

.modal_body .title_modal {
  font-size: 3.8rem;
  
}

.modal_body img {
  position: relative;
  bottom: 15.5rem;
  transform-style: preserve-3d;
  transform: rotateY(8deg);
  transition: 0.3s ease-in-out;
}

.modal_body .loser {
  position: absolute;
  top: -10%;
  left: 3%;
  /* top: 35%;
  left: 50%; */
  transform: translate(-50%, -50%);
  width: 300px;
  z-index: -1;
  transform-style: preserve-3d;
  transform: rotateY(8deg);
  transition: 0.3s ease-in-out;
}

/* .modal_body .loser {
  transform-style: preserve-3d;
  transform: rotateY(8deg);
  transition: 0.3s ease-in-out;

} */

.footer{
  text-align: center;
}
.footer p{
  font-size: 1.2rem;
  line-height: 1.2;
  padding: 8px;
  font-weight: 700;
  font-family: 'poppins';
}

@media (max-width: 334px) {
  .modal_about .modal_box {
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);
    transform: scale(0);
    padding: 1.2rem;
    width: 300px;
    height: 240px;
    background-color: #ffffff;
    border-radius: 13px;
  }
  .modal_container {
    width: 280px;
    height: 240px;
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  */
  }
  .modal_body h1 {
    font-size: 3rem;
    position: relative;
    bottom: 26px;
    /* color: red; */
  }
  .modal_body .title_modal {
    font-size: 3.5rem;
  }
  .modal_body .loser {
    position: absolute;
    top: -12%;
    left: 0%;
    transform: translate(-50%, -50%);
    width: 270px;
    z-index: -1;
    transform-style: preserve-3d;
    transform: rotateY(8deg);
    transition: 0.3s ease-in-out;
  }

  .grid {
    margin: 16px 0px 12px 0px;
  }
  .grid .title {
    line-height: 0.4;
    text-align: left;
  }
  .grid .title span{
    line-height: 1.2;
    /* margin-bottom: 1.2rem; */
  }
}

@media (min-width: 280px) {
  .grid .title{
    line-height: 0.5;
  }

  .modal_body .header_top div:nth-child(2) h2::first-letter{
    font-size: 3.4rem;
  }
  .modal_body .header_top div:nth-child(1) h2::first-letter{
    font-size: 3.4rem;
  }
  .modal_body .header_top span {
    font-size: 3.4rem;
  }
  .modal_body .header_top div:nth-child(2) span::after{
    font-family: "euro";
    content: 's';
    position: absolute;
    top: 8px;
    right: -20px;
    transform: translate(-100%, 1);
    font-size: 2.7rem;
  }
  .modal_body .header_top p {
    font-size: 4rem;
    margin: 0;
  }
 
  .gameboard {
    height: 300px;
    width: 300px;
    min-width: 280px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
  }
  .footer{
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    right: 1.5rem;
    text-align: center;
  }

  .modal_content h1::first-letter {
    font-size: 4.8rem;
    font-weight: 100;
    font-family: "american";
    vertical-align: middle;
  }
  .modal_content h1 {
    text-align: center;
    font-size: x-large;
    font-family: "euro";
    letter-spacing: 5px;
    margin-bottom: 1rem;
  }
  
  .modal_content p {
    font-size: 1.8rem; 
    /* font-family: "vapor"; */
    letter-spacing: 1.2px;
    font-family: "matrix";  
    font-weight: bold;
  }
}

@media (max-height: 600px) {
  body {
    position: relative;
  }
  .footer{
    position: relative;
  }
}

@media (min-width: 540px) {
  .gameboard {
    overflow: hidden;
  }

  .header_top {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    /* border: 1px solid red; */
  }

  .modal_body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* .modal_about .modal_box {
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);
    transform: scale(0);
    padding: 1.2rem;
    width: 380px;
    height: 220px;
    background-color: #ffffff;
    border-radius: 13px;
  } */
}

@media (min-width: 700px) {
  .cont {
    width: 80%;
    margin: 1.5rem auto;
  }
  .btn_play {
    width: 80px;
    height: 80px;
  }
  .btn_play:before {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    animation-delay: 0s;
    animation: pulsate 2s;
    animation-direction: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, .75);
    top: -31%;
    left: -31%;
    background: rgba(198, 16, 0, 0);
  }
  .modal_about .modal_box {
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);
    transform: scale(0);
    padding: 1.2rem;
    min-width: 530px;
    min-height: 340px;
    background-color: #ffffff;
    border-radius: 13px;
  }
  .modal_content h1::first-letter {
    font-size: 7.8rem;
    font-weight: 100;
    font-family: "american";
    vertical-align: middle;
  }
  .modal_content h1 {
    text-align: center;
    font-size: xx-large;
    font-family: "euro";  
    letter-spacing: 5px;
  }
  
  .modal_content p {
    font-size: 2.8rem; 
    font-family: "matrix";
    font-weight: 800;
    letter-spacing : 1.2px;
  }

}

@media (min-width: 768px) {
  .created h1 {
    font-size: 2.2rem;
    letter-spacing: 1.2px;
  }
  .grid .title{
    text-align: center;
    font-size: 3.6rem;
    letter-spacing: 1.2px;
    margin: 1.5rem 0 1.5rem 0;
  }

  .modal_body .header_top div:nth-child(2) h2::first-letter{
    font-size: 4.2rem;
  }
  .modal_body .header_top div:nth-child(1) h2::first-letter{
    font-size: 4.2rem;
  }
  .modal_body .header_top span {
    font-size: 4.2rem;
  }
  .modal_body .header_top div:nth-child(2) span::after{
    font-family: "euro";
    content: 's';
    position: absolute;
    top: 9px;
    right: -26px;
    transform: translate(-100%, 1);
    font-size: 3.4rem;
  }
  .modal_body .header_top p {
    font-size: 4.3rem;
  }

  .modal_container {
    min-width: 420px;
    min-height: 350px;
  }
  .modal_body h1::first-letter {
    font-family: "american";
    font-size: 8rem;
    text-transform: uppercase;
    color: #3d3e3f;
  }
  .modal_body h1 {
    font-size: 4.2rem;
    /* font-family: "euro";
    text-transform: lowercase;
    word-wrap: break-word;
    font-weight: lighter;
    position: relative;
    bottom: 1.5rem;
    z-index: 20;
    letter-spacing: 1.2px;
    color: #49494a;
    line-height: 0.85; */
    
  }
  /* .modal_body .title_modal {
    font-size: 4.8rem;
  } */
  .modal_body .loser {
    position: absolute;
    top: -8%;
    left: 6%;
    transform: translate(-50%, -50%);
    width: 320px;
    z-index: -1;
    transform-style: preserve-3d;
    transform: rotateY(8deg);
    transition: 0.3s ease-in-out;
  }
  .close_modal{
    position: absolute;
    top: 20px;
    right: 22px;
    width: 26px;
    height: 26px;
  }
  .gameboard {
    height: 350px;
    width: 350px;
  }
  .circle {
    height: 350px;
    width: 350px;
  }
  .footer p{
    font-size: 1.4rem;
    line-height: 1.2;
    padding: 8px;
  }
}

@media (min-width: 1024px) {
  .cont {
    width: 70%;
    margin: 1.5rem auto;
  }

}


@media (min-width: 1200px) {
  .modal_container .header_top {
    width: 100%;
  }
}

@media (min-width: 1360px) {
  .cont{
    width: 50%;
  }
  /* .header_top {
    width: 80%;
  } */
}
@media (min-width: 1760px) {
  .cont{
    width: 50%;
  }
  .header_top {
    width: 90%;
  }
}

@keyframes rotatePallet {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}