*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
  /* height:100vh; */
  width: 100%;
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  overflow-y: scroll;
	overflow-x: hidden;
}
/* 
#randomBg{
  background: url(../image/6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: 2s;
} */

@font-face{
  font-family: "DS-Digital";
  src: url("../fonts/ds_digital/DS-DIGIT.TTF") format('truetype');
  /* font-weight: normal;
  font-style: normal; */
}

@font-face {
  font-family: "old_london";
  src: url("../Fonts/old_london/OldLondon.ttf") format('truetype');
}

@font-face {
  font-family: "rainyhearts";
  src: url("../fonts/rainyhearts/rainyhearts.ttf") format('truetype');
}

.main-container{
	position: relative;
  height: 100vh;
}

header{
  text-align: center;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title{
  text-align: center;
  margin-top: 25px;
  font-size: 1.8rem;
  font-family: 'Love Ya Like A Sister', cursive;
}

.created{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 95vw;
  background-color: rgba(54, 48, 48, 0.774); 
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px; 
  padding: 5px;
  margin: 0 auto;
}

.created h1{
  font-size: 1.5rem;
  color: #010d13;
  font-family: 'Love Ya Like A Sister', cursive;
  /* font-family: "old_london"; */
}

.time-date h3{
  font-family: "DS-Digital";
  color: rgb(16, 233, 16);
  font-size: 1.8rem;
}

.time-date h2{
  font-size: 1.5rem;
  font-family: "rainyhearts";
  color: #010d13;
}

.divisions{
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 25px;
  margin: 0 30px;
}

.level h2{
  font-size: 1.5rem;
}

.level p{
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0 15px;
}

.gameboard {
  height: 100vh;
  width: 100vh;
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
  margin: 0 auto;
  max-height: 45vh;
  max-width: 45vh;
  position: relative;
  /* animation: gameboard 25s linear infinite forwards; */
  margin-top: 15%;
}

@keyframes gameboard {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg)
  }
}

.color {
  width: 50%;
  height: 50%;
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: left;
}

.blue {
  background: #6ac9ee;
}

.sky.light {
  background: #05eff7;
}

.violet {
  background: #dd422e;
}

.violet.light {
  background: #fd6156;
}

.orange {
  background: #ce8737;
}

.orange.light {
  background: #f0a045;
}

.green {
  background: #0daa0d;
}

.green.light {
  background: #65d44f;
}

.hide{
  display: none;
}

.btn {
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: rgb(221, 199, 199);
  color: #222324;
  font-size: 2.5rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  border: transparent;
  outline: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif; 
}

/* Sweet Alert */
.won{
  font-size: 1.8rem;
  color: green;
}

.lost{
  font-size: 1.8rem;
  color: rgb(211, 84, 84);
}

footer{
  text-align: center;
  padding: 10px;
  font-size: 1.2rem;
  position: relative;
}