header{
  text-align: center;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title{
  text-align: center;
  margin-top: 35px;
  font-size: 2.5rem;
  font-family: 'Love Ya Like A Sister', cursive;
}

.created{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 90%;
  background-color: rgba(54, 48, 48, 0.774); 
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px; 
  padding: 5px;
  margin: 0 auto;
}

.created h1{
  font-size: 2.5rem;
  color: #010d13;
  font-family: 'Love Ya Like A Sister', cursive;
}

.time-date h3{
  font-family: "DS-Digital";
  color: rgb(16, 233, 16);
  font-size: 2.8rem;
}

.time-date h2{
  font-size: 2.3rem;
  font-family: "rainyhearts";
  color: #010d13;
}

.divisions{
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 35px;
  margin: 0 100px;
}

.level h2{
  font-size: 2.3rem;
}

.level p{
  font-size: 2.3rem;
  font-weight: bold;
  margin: 0 15px;
}

.gameboard {
  height: 100vh;
  width: 100vh;
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
  max-height: 45vh;
  max-width: 45vh;
  position: relative;
  margin: 0 auto;
  margin-top: 60px;
}

.btn {
  position: absolute;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background-color: rgb(221, 199, 199);
  color: #222324;
  font-size: 2.5rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  border: transparent;
  outline: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif; 
}

footer{
  text-align: center;
  padding: 10px;
  font-size: 1.8rem;
}